[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FastImputation"]
	path = FastImputation
	url = https://github.com/cran/FastImputation
	shallow = true
	registered = true
